.topnavbtn{
    color:white;
    border:0px;
    background-color:black;
}
.topnavbtn:hover{
    color:black;
    background-color: white;
    border:0px;
}
#topnavlogo{
    color:white;
    border:0px;
    background-color:black;   
}