input:focus{
    outline:none;
}
button{
    color:black;
    background-color:white;
    border-radius:5px;
    border:1px solid black;
    padding:5px;
    width:100%;
  }

  #searchloader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #0c0c0c; /* Blue */
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 2s linear infinite;
  } 
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
